.buttons {
  padding: 12px;
  width: 100%;
  border: 0 solid transparent;
}
.btnColor {
  background: #333333;
  opacity: 1;
  color: #fff;
}
.spanStyle {
  font-size: 18px;
  font-weight: 500;
}
.paraStyle {
  font-size: 16px;
  font-weight: 400;
}
.heading {
  text-align: center;
  color: #ff0200;
  line-height: 74px;
  font-weight: 500;
  font-size: 24px;
}
